.orders{
  margin-top: 60px;
  table{
    width: 90%;
    tbody{
      width: 100%;
      tr{
        position: relative;
        td{
          font-size: 15px;
          button{
            margin: 0 10px;
          }
        }
      }
    }
  }
}